body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

form {
    display: flex;
    gap: 10px;
    justify-content: center;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    background: #292929;
    color: white;
    outline: none;
    border: 1px solid #292929;
}

input[type="text"]:focus {
    border-color: #a970ff;
    /* Cor ao focar */
    box-shadow: 0 0 5px #a970ff;
    /* Brilho suave ao redor */
}

button {
    padding: 10px 15px;
    background-color: #a970ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #915eff;
}

ul {
    list-style: none;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 8px;
    background-color: #1e1e1e;
    border: none;
}


ul::-webkit-scrollbar {
    width: 4px;
}

ul::-webkit-scrollbar-track {
    background: #252525;
    border-radius: 8px;
}

ul::-webkit-scrollbar-thumb {
    background: #a970ff;
    border-radius: 8px;
}

ul::-webkit-scrollbar-thumb:hover {
    background: #a970ff;
}

li {
    background: #292929;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    font-weight: bold;
    text-align: left;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

li:hover {
    background: #3a3a3a;
    transform: scale(1.03);
    box-shadow: 0 0 8px rgba(169, 112, 255, 0.5);
}

.input-error,
.input-error:focus {
    border-color: #e21a43;
}

.hide {
    display: none;
}